In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
import datetime

In [87]:
import warnings
warnings.simplefilter(action="ignore",category=FutureWarning)

In [88]:
linkedin_job_postings=pd.read_csv("..\Data\linkedin_jobs_and_skills\linkedin_job_postings.csv")

In [89]:
linkedin_job_postings.head(2)

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
0,https://www.linkedin.com/jobs/view/account-exe...,2024-01-21 07:12:29.00256+00,t,t,f,Account Executive - Dispensing (NorCal/Norther...,BD,"San Diego, CA",2024-01-15,Coronado,United States,Color Maker,Mid senior,Onsite
1,https://www.linkedin.com/jobs/view/registered-...,2024-01-21 07:39:58.88137+00,t,t,f,Registered Nurse - RN Care Manager,Trinity Health MI,"Norton Shores, MI",2024-01-14,Grand Haven,United States,Director Nursing Service,Mid senior,Onsite

In [90]:
linkedin_job_postings.describe()

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
count,1348454,1348454,1348454,1348454,1348454,1348454,1348443,1348435,1348454,1348454,1348454,1348454,1348454,1348454
unique,1348454,722748,2,2,2,584544,90605,29153,6,1018,4,1993,2,3
top,https://www.linkedin.com/jobs/view/account-exe...,2024-01-19 09:45:09.215838+00,t,t,f,LEAD SALES ASSOCIATE-FT,Health eCareers,"New York, NY",2024-01-14,Baytown,United States,Account Executive,Mid senior,Onsite
freq,1,625540,1297877,1296401,1346978,7325,41598,13436,460035,10052,1149342,19468,1204445,1337633

In [91]:
linkedin_job_postings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1348454 entries, 0 to 1348453
Data columns (total 14 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   job_link             1348454 non-null  object
 1   last_processed_time  1348454 non-null  object
 2   got_summary          1348454 non-null  object
 3   got_ner              1348454 non-null  object
 4   is_being_worked      1348454 non-null  object
 5   job_title            1348454 non-null  object
 6   company              1348443 non-null  object
 7   job_location         1348435 non-null  object
 8   first_seen           1348454 non-null  object
 9   search_city          1348454 non-null  object
 10  search_country       1348454 non-null  object
 11  search_position      1348454 non-null  object
 12  job_level            1348454 non-null  object
 13  job_type             1348454 non-null  object
dtypes: object(14)
memory usage: 144.0+ MB

In [92]:
linkedin_job_postings.columns

Index(['job_link', 'last_processed_time', 'got_summary', 'got_ner',
       'is_being_worked', 'job_title', 'company', 'job_location', 'first_seen',
       'search_city', 'search_country', 'search_position', 'job_level',
       'job_type'],
      dtype='object')

In [93]:
mask=linkedin_job_postings.isnull()
print(linkedin_job_postings.isnull().sum())

job_link                0
last_processed_time     0
got_summary             0
got_ner                 0
is_being_worked         0
job_title               0
company                11
job_location           19
first_seen              0
search_city             0
search_country          0
search_position         0
job_level               0
job_type                0
dtype: int64

In [94]:
# Filling with dummy data since very few are missing
linkedin_job_postings["company"]=linkedin_job_postings["company"].fillna("Banco")
linkedin_job_postings["job_location"]=linkedin_job_postings["job_location"].fillna("Lake Park, IA")

In [95]:
print(linkedin_job_postings.isnull().sum())

job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64

In [96]:
linkedin_job_postings.drop_duplicates(subset=["company","job_link","last_processed_time","job_title","job_location","first_seen","search_city","search_country","search_position","job_level","job_type"],inplace=True)

In [97]:
linkedin_job_postings["time"] = pd.to_datetime(linkedin_job_postings["last_processed_time"],dayfirst=True, format='mixed')

In [98]:
linkedin_job_postings["dates"] = pd.to_datetime(linkedin_job_postings["last_processed_time"],dayfirst=True, format='mixed')

In [99]:
linkedin_job_postings["current_time"]= pd.to_datetime(linkedin_job_postings["time"]).dt.time

In [100]:
linkedin_job_postings["current_date"]= pd.to_datetime(linkedin_job_postings["dates"]).dt.date

In [101]:
linkedin_job_postings.head()

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type,time,dates,current_time,current_date
0,https://www.linkedin.com/jobs/view/account-exe...,2024-01-21 07:12:29.00256+00,t,t,f,Account Executive - Dispensing (NorCal/Norther...,BD,"San Diego, CA",2024-01-15,Coronado,United States,Color Maker,Mid senior,Onsite,2024-01-21 07:12:29.002560+00:00,2024-01-21 07:12:29.002560+00:00,07:12:29.002560,2024-01-21
1,https://www.linkedin.com/jobs/view/registered-...,2024-01-21 07:39:58.88137+00,t,t,f,Registered Nurse - RN Care Manager,Trinity Health MI,"Norton Shores, MI",2024-01-14,Grand Haven,United States,Director Nursing Service,Mid senior,Onsite,2024-01-21 07:39:58.881370+00:00,2024-01-21 07:39:58.881370+00:00,07:39:58.881370,2024-01-21
2,https://www.linkedin.com/jobs/view/restaurant-...,2024-01-21 07:40:00.251126+00,t,t,f,RESTAURANT SUPERVISOR - THE FORKLIFT,Wasatch Adaptive Sports,"Sandy, UT",2024-01-14,Tooele,United States,Stand-In,Mid senior,Onsite,2024-01-21 07:40:00.251126+00:00,2024-01-21 07:40:00.251126+00:00,07:40:00.251126,2024-01-21
3,https://www.linkedin.com/jobs/view/independent...,2024-01-21 07:40:00.308133+00,t,t,f,Independent Real Estate Agent,Howard Hanna | Rand Realty,"Englewood Cliffs, NJ",2024-01-16,Pinehurst,United States,Real-Estate Clerk,Mid senior,Onsite,2024-01-21 07:40:00.308133+00:00,2024-01-21 07:40:00.308133+00:00,07:40:00.308133,2024-01-21
4,https://www.linkedin.com/jobs/view/group-unit-...,2024-01-19 09:45:09.215838+00,f,f,f,Group/Unit Supervisor (Systems Support Manager...,"IRS, Office of Chief Counsel","Chamblee, GA",2024-01-17,Gadsden,United States,Supervisor Travel-Information Center,Mid senior,Onsite,2024-01-19 09:45:09.215838+00:00,2024-01-19 09:45:09.215838+00:00,09:45:09.215838,2024-01-19

In [102]:
#deleting  unnesccesary column  for easy analysis
del linkedin_job_postings["got_summary"]
del linkedin_job_postings["got_ner"]
del linkedin_job_postings["is_being_worked"]
del linkedin_job_postings["last_processed_time"]
del linkedin_job_postings["dates"]
del linkedin_job_postings["time"]

In [103]:
linkedin_job_postings["job_title"]=linkedin_job_postings["job_title"].str.lower().str.strip()

In [104]:
linkedin_job_postings.head()

,job_link,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type,current_time,current_date
0,https://www.linkedin.com/jobs/view/account-exe...,account executive - dispensing (norcal/norther...,BD,"San Diego, CA",2024-01-15,Coronado,United States,Color Maker,Mid senior,Onsite,07:12:29.002560,2024-01-21
1,https://www.linkedin.com/jobs/view/registered-...,registered nurse - rn care manager,Trinity Health MI,"Norton Shores, MI",2024-01-14,Grand Haven,United States,Director Nursing Service,Mid senior,Onsite,07:39:58.881370,2024-01-21
2,https://www.linkedin.com/jobs/view/restaurant-...,restaurant supervisor - the forklift,Wasatch Adaptive Sports,"Sandy, UT",2024-01-14,Tooele,United States,Stand-In,Mid senior,Onsite,07:40:00.251126,2024-01-21
3,https://www.linkedin.com/jobs/view/independent...,independent real estate agent,Howard Hanna | Rand Realty,"Englewood Cliffs, NJ",2024-01-16,Pinehurst,United States,Real-Estate Clerk,Mid senior,Onsite,07:40:00.308133,2024-01-21
4,https://www.linkedin.com/jobs/view/group-unit-...,group/unit supervisor (systems support manager...,"IRS, Office of Chief Counsel","Chamblee, GA",2024-01-17,Gadsden,United States,Supervisor Travel-Information Center,Mid senior,Onsite,09:45:09.215838,2024-01-19

In [105]:
linkedin_job_postings.to_csv("..\Data\linkedin_jobs_and_skills\\filtered_linkedin_job_postings_cleaned.csv",index=False)